# idk
.DS_Store
.AppleDouble
.LSOverride

# Windows stuff
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

#Textfile cruft
/project.json
/traceback.txt
/errors.txt
/log.txt

#cache files
/game/cache/*

#save files
/game/saves/*

#binary files
*.rpyc
*.rpymc

#backups
*.bak